.spinner {
  height: 45px;
}
.inputs {
  width: 50vw;
}
a {
  color: black;
}      
a:visited {
  color: black;
} 
a:hover {
  color: black;
}  
a:active {
  color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li {
  float: left;
  margin: 1em;
}
.nav {
  height: 15vh;
  margin-bottom: 3vh;
}
.nav-container {
  margin-top: 3vh;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 100%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    font-size: 12px;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
body {
  font-family: Roboto;
  background-color: black;
}
button {
  height: 7vh;
  width: 43vh;
  font-family: Roboto;
  font-size: 70%;
  border-radius: 5%;
  margin: 1em;
  background-color: white;
}
#app {
  max-width: 650px;
  margin: 0 auto;
  background-color: white;
  border: 3px dotted black;
  height: 100vh;
  overflow: scroll;
  padding: 20px;
}
input[type='submit'] {
  height: 7vh;
  width: 43vh;
  font-family: Roboto;
  font-size: 70%;
  border-radius: 5%;
  margin: 1em;
  background-color: white;
}
input[type='text'] {
  height: 5vh;
  font-family: Roboto;
  font-size: 2vh;
}
.loader {
  height: 20vh;
}