.spinner {
  height: 40px;
  position: absolute;
  top: 17%;
  left: 15%;
  
}
@media screen and (max-width: 480px) {
    .spinner {
      height: 25px
      top: 15%;
      left: 30%;
  }
}
.inputs {
  width: 50vw;
}